# ===== ESP-IDF =====
build/
sdkconfig
sdkconfig.ci*
sdkconfig.old
managed_components/
# ===== IDE =====
.vscode/
.idea/
# ===== Временные файлы =====
*.log
*.tmp
*~
.DS_Store

# ===== Python =====
__pycache__/
*.pyc